<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Silas-Graphics" />
    <meta name="author" content="Headbwoi" />
    <title>Silas-Graphics | landing page - About Me</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <script defer src="../script.js"></script>
  </head>
  <body class="font-mono bg-black overflow-x-hidden">
    <!-- header section -->
    <header class="flex justify-between items-center relative">
      <div class="container p-6 lg:px-0 flex items-center justify-between">
        <!-- logo -->
        <div
          class="text-2xl text-gray-300 font-bold capitalise italic relative after:absolute after:left-0 after:block after:w-6 after:h-0.5 after:bg-gray-300 hover:text-gray-200 animate-bounce"
        >
          <a href="/index.html">Silas-Graphics</a>
        </div>

        <!-- desktop nav menu -->
        <div class="nav-links hidden md:flex space-x-10 nav-animate">
          <a
            href="index.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Home</a
          >
          <a
            href="#about"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >About</a
          >
          <a
            href="skills.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Skills</a
          >
          <a
            href="projects.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Projects</a
          >

          <a
            href="#contact"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Contact</a
          >
        </div>
        <!-- hamburger -->

        <div class="hamburger md:hidden" id="toggle">
          <span
            class="block w-7 h-0.5 bg-gray-200 mb-2 relative duration-300 cursor-pointer"
          ></span>
          <span
            class="block w-7 h-0.5 bg-gray-200 relative duration-300 cursor-pointer"
          ></span>

          <!-- mobile nav menu -->
          <div
            class="mob-menu fixed top-[10%] left-0 -translate-x-[100%] pl-12 pt-12 overflow-hidden bg-black opacity-95 duration-500 rounded-r-lg w-3/4 h-full shadow-xl z-50"
          >
            <a
              href="index.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Home</a
            >
            <a
              href="#about"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >About</a
            >
            <a
              href="skills.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Skills</a
            >
            <a
              href="projects.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Projects</a
            >
            <a
              href="#"
              class="block font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:bg-white bg-crimson w-fit py-4 px-6 rounded-full"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </header>
    <!-- main section -->
    <main class="overflow-x-hidden">
      <!-- about section -->

      <section class="about py-20" id="about">
        <div class="container">
          <h1
            class="text-5xl lg:text-7xl text-center text-gray-300 uppercase font-extrabold tracking-widest mb-6 left duration-300 card"
          >
            about<span class="uppercase text-crimson pl-3">me</span>
          </h1>

          <!-- about me info -->
          <div
            class="about-info mt-5 lg:mt-24 mb-8 lg:mb-24 px-7 lg:px-0 lg:flex lg:items-center lg:justify-between lg:space-x-24"
          >
            <p
              class="text-white text-lg mb-5 lg:mb-0 lg:text-left lg:w-1/2 left duration-300 card"
            >
             <strong class="text-xl font-semibold"> Hi, i'm <span class="text-crimson text-3xl">Silas,</span> <br></strong>
              i've had the passion for Graphics Design since i was 12, with the
              dream and plan of making a difference in the World and the world
              of Graphics.
            </p>

            <!-- image -->
            <div
              class="silas relative w-full h-full lg:w-1/2 group cursor-pointer right duration-300 card"
            >
              <img
                src="../images/12yroldsilas.jpg"
                alt="silas"
                class="w-full h-full rounded"
              />
              <div
                class="absolute inset-0 w-full h-full bg-gradient-to-r from-[rgba(0,0,0,0.55)] to-[rgba(0,0,0,0.6)]"
              >
                <p
                  class="absolute top-1/2 left-1/2 -translate-x-1/2 font-bold text-lg text-white capitalize italic group-hover:z-20"
                >
                  me at 12
                </p>
              </div>
            </div>
          </div>

          <!-- about me stats -->
          <div
            class="px-4 lg:px-0 md:flex md:justify-center lg:items-center lg:justify-between"
          >
            <!-- info -->
            <div class="block">
              <!-- personal info -->
              <p
                class="uppercase text-2xl text-white text-left font-bold mt-12 lg:mt-0 mb-6 right duration-300 card"
              >
                personal info
              </p>
              <div
                class="md:flex lg:items-center lg:justify-between mb-8 left ration-400 card"
              >
                <!-- info -1 -->
                <div class="info mr-6">
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Name:<span class="pl-1 text-white capitalize"
                        >silas ishaya</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Email:<span class="pl-1 text-white"
                        >silasishaya90@gmail.com</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Age:<span class="pl-1 text-white">19</span>
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Address:<span class="pl-1 text-white capitalize"
                        >bauchi, nigeria
                      </span>
                    </p>
                  </div>
                </div>
                <!-- info -2 -->
                <div class="info text-white">
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Freelance:<span class="pl-1 text-white capitalize"
                        >available</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Skill:<span class="pl-1 text-white capitalize"
                        >Graphics Designer</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400 mb-2">
                      Experience:<span class="pl-1 text-white capitalize"
                        >7 years</span
                      >
                    </p>
                  </div>
                  <div>
                    <p class="text-[1rem] text-gray-400">
                      Language:<span class="pl-1 text-white capitalize"
                        >English, hausa</span
                      >
                    </p>
                  </div>
                </div>
              </div>

              <div class="flex justify-start items-center mb-3">
                <a href="#" class="cta-btn">Download CV</a>
              </div>
            </div>

            <!-- achievement -->

            <div class="grid grid-cols-2 gap-4 right duration-300 card">
              <div
                class="bg-lightDark block text-left w-50 h-50 p-6 grid-box hover:-translate-y-2 duration-150"
              >
                <p class="text-crimson text-5xl font-extrabold">7+</p>
                <p class="capitalize text-lg text-gray-400">
                  years of Experience
                </p>
              </div>
              <div
                class="bg-lightDark block text-left w-50 h-50 p-6 grid-box hover:-translate-y-2 duration-150"
              >
                <p class="text-crimson text-5xl font-extrabold">50+</p>
                <p class="capitalize text-lg text-gray-400">happy clients</p>
              </div>
              <div
                class="bg-lightDark block text-left w-50 h-50 p-6 grid-box hover:-translate-y-2 duration-150"
              >
                <p class="text-crimson text-5xl font-extrabold">100+</p>
                <p class="capitalize text-lg text-gray-400">
                  projects completed
                </p>
              </div>
              <div
                class="bg-lightDark block text-left w-50 h-50 p-6 grid-box hover:-translate-y-2 duration-150"
              >
                <p class="text-crimson text-5xl font-extrabold">12+</p>
                <p class="capitalize text-lg text-gray-400">awards won</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
