<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Silas-Graphics" />
    <meta name="author" content="Headbwoi" />
    <title>Silas-Graphics | landing page - My Works</title>
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <script defer src="../script.js"></script>
  </head>
  <body class="font-mono bg-black overflow-x-hidden">
    <!-- header section -->
    <header class="flex justify-between items-center relative">
      <div class="container p-6 lg:px-0 flex items-center justify-between">
        <!-- logo -->
        <div
          class="text-2xl text-gray-300 font-bold capitalise italic relative after:absolute after:left-0 after:block after:w-6 after:h-0.5 after:bg-gray-300 hover:text-gray-200 animate-bounce"
        >
          <a href="/index.html">Silas-Graphics</a>
        </div>

        <!-- desktop nav menu -->
        <div class="nav-links hidden md:flex space-x-10 nav-animate">
          <a
            href="index.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Home</a
          >
          <a
            href="about.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >About</a
          >
          <a
            href="skills.html"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Skills</a
          >
          <a
            href="#projects"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Projects</a
          >

          <a
            href="#contact"
            class="font-semibold text-lg text-gray-300 hover:text-white duration-300 active:text-white"
            >Contact</a
          >
        </div>
        <!-- hamburger -->

        <div class="hamburger md:hidden" id="toggle">
          <span
            class="block w-7 h-0.5 bg-gray-200 mb-2 relative duration-300 cursor-pointer"
          ></span>
          <span
            class="block w-7 h-0.5 bg-gray-200 relative duration-300 cursor-pointer"
          ></span>

          <!-- mobile nav menu -->
          <div
            class="mob-menu fixed top-[10%] left-0 -translate-x-[100%] pl-12 pt-12 overflow-hidden bg-black opacity-95 duration-500 rounded-r-lg w-3/4 h-full shadow-xl z-50"
          >
            <a
              href="index.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Home</a
            >
            <a
              href="about.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >About</a
            >
            <a
              href="skills.html"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Skills</a
            >
            <a
              href="#projects"
              class="block w-fit font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:text-white mb-12"
              >Projects</a
            >
            <a
              href="#contact"
              class="block font-semibold text-2xl text-gray-300 hover:text-white duration-300 active:bg-white bg-crimson w-fit py-4 px-6 rounded-full"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- main section -->
    <main class="overflow-x-hidden">
      <!-- my projects -->

      <section class="projects py-20" id="projects">
        <div class="container">
          <!-- heading -->
          <div class="mb-12">
            <h3
              class="text-5xl lg:text-7xl text-center text-gray-300 uppercase font-extrabold tracking-widest mb-6 left duration-300 card"
            >
              My<span class="uppercase text-crimson pl-3 relative"
                >Projects</span
              >
            </h3>
            <p class="text-white text-center text-lg capitalize">
              what I've do
            </p>
          </div>

          <!-- projects box -->
          <div
            class="proj-box grid md:grid-cols-2 lg:grid-cols-3 place-items-center"
          >
            <!-- box-1 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 left card mb-7"
            >
              <img
                src="../images/proj-1.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  notebook design
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-2 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 right card mb-7"
            >
              <img
                src="../images/proj-2.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  banner design
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-3 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 left card mb-7"
            >
              <img
                src="../images/proj-3.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  tailor's card
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-4 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 right card mb-7"
            >
              <img
                src="../images/proj-4.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  limaro bags institute
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-5 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 left card mb-7"
            >
              <img
                src="../images/proj-5.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  Silas-Graphics
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-6 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 right card mb-7"
            >
              <img
                src="../images/proj-6.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  minister simon and friends
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-7 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 left card mb-7"
            >
              <img
                src="../images/proj-7.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  Silas-Graphics
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-8 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 right card mb-7"
            >
              <img
                src="../images/proj-8.jpg"
                alt="proj-1"
                class="w-full h-full"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  Silas-Graphics
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
            <!-- box-9 -->
            <div
              class="relative overflow-hidden w-80 h-60 group duration-200 left card mb-7"
            >
              <img
                src="../images/proj-3.jpg"
                alt="proj-1"
                class="w-full h-full object-cover"
              />
              <!-- content -->
              <div
                class="bg-lightDark absolute inset-0 w-full h-full flex flex-col items-center justify-center p-8 duration-200 -translate-y-full group-hover:translate-y-0"
              >
                <p class="text-center text-gray-300 mb-2 capitalize">
                  tailors card design
                </p>
                <a href="#" class="text-crimson hover:text-white">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="bg-lightDark">
      <div class="container">
        <div
          class="text-center flex items-center justify-between flex-col lg:flex-row"
        >
          <!-- social icons -->
          <div
            class="flex items-center justify-center space-x-4 lg:justify-start py-4"
          >
            <a
              href="https://www.facebook.com/tochukwu.john.54390"
              target="_blank"
              ><i
                class="fab fa-facebook text-white p-1.5 rounded-full text-lg border border-gray-300 hover:border-crimson cursor-pointer"
              ></i
            ></a>
            <a href="https://wa.me/qr/UYRGZJDFBRYNB1" target="_blank"
              ><i
                class="fab fa-whatsapp text-white p-1.5 rounded-full text-lg border border-gray-300 hover:border-crimson cursor-pointer"
              ></i
            ></a>
            <a
              href="https://twitter.com/Headbwoi_1?t=LlevHD7DsP9wNjm1pmqyWQ&s=09"
              target="_blank"
              ><i
                class="fab fa-twitter text-white p-1.5 rounded-full text-lg border border-gray-300 hover:border-crimson cursor-pointer"
              ></i
            ></a>
          </div>
          <p class="text-gray-200">
            Designed by
            <a
              href="https://wa.me/qr/UYRGZJDFBRYNB1"
              target="_blank"
              class="text-crimson"
              >Headbwoi</a
            >
            &copy;2022
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
